button {
    font-size: 25px;
    border-radius: 30%;
    background-color: white;
    margin: 4px;
    background-color: rgb(185, 184, 184);
}

input {
    border-color: black;
    font-size: 20px;
    border-width: 2px;
    border-style: solid;
    background-color: rgb(185, 184, 184);
}


.kalkulator {
    text-align:center;
    padding-top: 100px;
}

.tlacitko2{
    margin-top: 8px;
    width: 50;
    height: 50;
    border-radius: 5px;
    background-color: red;
  
  }

  .tlacitko{
    margin-top: 8px;
    width: 50;
    height: 50;
    border-radius: 3px;
  }

  .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }

